@{
    ViewData["Title"] = "Usage";
}

<div class="text-center">
    <h1 class="display-4">Usage Instructions</h1>
    <div>
        <ul>
            <li>Click on 'AnimalList' option to view all the animals in the database.</li>
            <li>Use the 'Create' button at the top of the page to add animals.</li>
            <li>To remove animals, click on ID button (in red) for each entry you want to remove.</li>
            <li>Use the search bar at the top of the page to search for any animal based on "Name" and "Species"</li>
            <li>Click on '3 Oldest' button to view 3 oldest animals in each species.</li>
            <li>Use 'Edit' and 'Details' button to edit or view any particular entry.</li>
            <li>Adoption fee all the animals is aumatically calulcated based on the age of animal</li>
        </ul>
    </div>
    
</div>
