@{
    ViewData["Title"] = "Help";
}
<h1>@ViewData["Title"]</h1>

<p>To create table in the database, use Table script from the project folder</p>
<p>Read ReadMe.txt file first before proceeding with the project.</p>