html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

.search{
    display:grid;
    grid-template-columns: 10fr;
}

.upheading {
    display: grid;
    grid-template-columns: 5fr 1fr;
}